.sidebarChannel{
    padding-left: 20px;
    margin-top: 2px;

    h4.channels{
        color: #7b7d85;
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        font-size: 0.9rem;

        &:hover{
            color: white;
            background-color: orange;
            border-radius: 10px;
        }
    }

    .sibebarChannelHash{
        font-size: 15px;
        padding-right:5px;
    }
}
